[2015-05-24 04:02] 3TUSK opened #1 "License"
The original author didn't add a license into the repo of FrogCraft.
However, he said that he might choose GPL. [Reference](http://forum.industrial-craft.net/index.php?page=Thread&postID=153416#post153416)

On the other hand, M3gaFr3ak did port FrogCraft to 1.6.4 and it accepted by the original author. However there was no license either.

[2015-10-01 17:22] 3TUSK commented on #1
Solution 1:

[2015-10-01 19:37] liach commented on #1
All MPL or apache suggested.
MPL is stricter than MIT.
GPL is never desirable. Btw you can take a look at eclipse public license.

[2015-10-08 00:51] 3TUSK commented on #1
Wait... the *api* will be divide into two parts...

[2015-10-08 03:11] liach commented on #1
What two parts?

[2015-10-08 03:15] 3TUSK commented on #1
One for mod itself. One for *chemistry*

[2015-10-08 11:59] 3TUSK commented on #1
Thus I need to consider about it carefully. The api stuff is still under heavy constructing...

[2015-10-08 14:24] liach commented on #1
How do you construct it? So you mean the mod is not open source?

[2015-10-08 14:31] 3TUSK commented on #1
I suggest that don't worry about that. *Seems that everything has been mixed together*.

[2015-10-08 14:49] 3TUSK commented on #1
@liach Seriously, if you understand that what the purpose this repository actually *has*, you will realize that this issue *is* very hard to solve... question: have you ever played modded minecraft in 1.5.2?

[2015-10-08 14:50] liach commented on #1
Nope but vanilla beta. It would be good to choose license later when there's some code

[2015-10-08 14:53] 3TUSK commented on #1
Then it's better for us to be quiet. The more talk the more possibilities to be discovered.

[2015-10-15 23:26] 3TUSK opened #2 "Strange lag after launching railgun"
As the title shown, there is lag when you launch multiple railgun coins. It is still unknown whether is due to my computer's long history or not. No log yet, but there will be part of them soon.

[2015-10-18 19:59] 3TUSK opened #3 "A better oreDict support for some machines"
As title shown, this feature will benefit other developers...

[2015-10-26 01:03] 3TUSK opened #4 "Full implementation of Advanced Chemical Reactor"
As title shown, the code looks like very complex due to the 5 input slots and 5 output slots. Perhaps there is a better way to handle it but I need time to find out.

[2015-10-29 23:58] 3TUSK opened #5 "java.lang.NullPointerException: Ticking block entity"
[code]

[2015-10-29 23:59] 3TUSK commented on #5
Won't be a lonely case. This should be a very fatal problem.

[2015-10-30 23:17] 3TUSK commented on #5
Never mind it. You cannot create `FluidStack` from null.

[2015-10-30 23:22] #5 closed, assigned to 3TUSK

[2015-10-31 20:45] 3TUSK opened #6 "Network error"
[code]

Obviously this is an error on networking.

[2015-11-01 20:54] #6 closed, assigned to nobody

[2015-11-01 21:02] 3TUSK commented on #6
Lesson: don't forge to add your channel name. i.e.: `new FMLProxyPacket(Bytebuf bytebuf, String channelName)`.

[2015-11-02 15:29] 3TUSK opened #7 "A reaction expressing system using xml"
Currently, a chemical reaction will looks like this:

[code]

As an equation, the computer only needs to know all of reactants, products (measured in mole) and conditions.
In the future there will be dynamic balance (if it's _possible_).
@bakaxyf

[2015-11-12 18:33] 3TUSK opened #8 "TODO: GregTech compat"
~~As title shown. The major question is that, GT5 and GT6 are totally different from each other. Thus, there are two options:~~
- ~~Separate into different `compat` module~~
- ~~Make something universal~~

~~Also,~~ here is a list of (GT) compat module content ~~(unfinished)~~:
- [ ] OreDictionary registry. I think it can be automatically handled by GregTech itself...
- [ ] Pneumatic Compressor: a

[2015-11-21 04:37] 3TUSK opened #9 "TODO: Finish NetworkHandler"
~~Details are coming soon.~~
Tasks:
- [X] A packet only for `Item`? Floating around. See recent commit.
- [X] ~~`static` or not?~~ no static method for sending packet anymore.

Nov 29th 2015 edit: Tank will ship on `PacketFrog00TileUpdate`. Thus delete some notes.

[2015-11-22 18:33] 3TUSK commented on #1
298a0141c931d6e70b40183f6b91c8a85c433c4d

[2015-11-23 21:35] 3TUSK opened #10 "Rename package"
~~Although there is no any consideration about support on porting map from 1.6.2/1.6.4 to 1.7.10 with FrogCraft included, it is still a question whether the package name should use `FrogCraft` or not.
Before final decision I will ask the original author(s).~~

Will change from `frogcraftrewrite` to `frogcraftrebirth` in order to keep everything the same.

[2015-11-29 21:31] #9 closed, assigned to 3TUSK

[2015-11-29 21:31] 3TUSK commented on #9
Well... if there is more problem just open another one.

[2015-12-17 02:13] 3TUSK commented on #7
Close this, moved to FrogCraft-Rebirth/ChemLab#1

[2015-12-17 02:13] #7 closed, assigned to 3TUSK

[2016-01-21 18:29] 3TUSK opened #11 "Draw model for the windmill"
As title said.
~~Art work kills those programmers who are not good at art~~

[2016-01-27 02:32] panda2134 opened #12 "Found a typo in readme.md"
| Credits　　　　　　　  |   should be "her",i think XD
|　　　　　　　　　　　\/
|Credits to ueyudiud for his generous consultant.
|Credits to dunge for his design idea and several texture.

[2016-01-27 04:28] 3TUSK commented on #12
You actually don't know ueyudiud's gender right?

[2016-01-27 04:29] 3TUSK commented on #12
Wait, actually it still worth to fix.

[2016-01-27 06:40] panda2134 commented on #12
XD

2016-01-27 12:29 GMT+08:00 Urey.X. notifications@github.com:

[2016-01-27 06:41] panda2134 commented on #12
that could be a question. for example, vazkii doesn't like others to use
'he' to refer to her.XD.

2016-01-27 14:39 GMT+08:00 Dao Liu smallpanda2134@gmail.com:

[2016-01-28 19:12] 3TUSK commented on #12
Ok this is probably the most weird issue i have ever seen. Will be closed soon or later.

[2016-01-28 19:13] 3TUSK commented on #10
Closed via c30b4d0f1f841b13c036457d62e6dff6833499f7

[2016-01-28 19:13] #10 closed, assigned to 3TUSK

[2016-01-28 23:59] #12 closed, assigned to 3TUSK

[2016-02-17 14:46] 3TUSK opened #13 "IMC support for things and stuff"
- [X] `ICompatModule`
- [X] Recipe registration
  - [X] Advanced Chemical Reactor
  - [X] Condense Tower
  - [X] Pyrolyzer
  - [X] CombustionFurnace
- [X] Mobile Power Station upgrades
  - [X] Solar panel upgrade
  - [X] Transformer upgrade
  - [X] Storage upgrade

[2016-03-01 14:27] 3TUSK commented on #8
Drop off TechReborn compat _temporarily_, cause I am lazy right now.

[2016-03-13 19:55] #2 closed, assigned to 3TUSK

[2016-03-19 05:07] panda2134 opened #14 "Jinkela is mine! However Jinkela is not working."

[2016-03-24 21:18] #14 closed, assigned to 3TUSK

[2016-03-29 23:59] #4 closed, assigned to 3TUSK

[2016-03-30 01:05] 3TUSK commented on #3
Close it - cause currently there is no other thing need ore dictionary support.

[2016-03-30 01:05] #3 closed, assigned to 3TUSK

[2016-03-30 01:06] 3TUSK commented on #1
MIT, that's it. Texture will be redone later based on ic2 texture.

[2016-03-30 01:06] #1 closed, assigned to 3TUSK

[2016-03-31 14:27] 3TUSK commented on #1
Actually no one see that the license need to change date.

[2016-03-31 14:50] liach commented on #1
You can use some sort of license gradle plugin to automatically apply licenses.

[2016-03-31 14:50] 3TUSK commented on #1
Lazy...

[2016-04-01 19:17] 3TUSK opened #15 "Support IC2Classic/Uncomplication"

[2016-04-05 15:56] 3TUSK opened #16 "Deprecate Railgun, replace with Portable Ion Cannon"
In case that I am criticized with so called "copying and pasting existed feature". Less and less people remember FrogCraft does have railgun since Minecraft 1.5.2.

Feature:
- consume 5 million EU per shot
- more damage, cause it's ion cannon
- No coin cost, cause you're not mikoto misaka
- When shot tiberium crystal, your world will be ruined.

As for Ion Cannon: it is the GDI's ultimate weapon i

[2016-04-11 01:46] 3TUSK opened #17 "JEI Compatibility"
- [X] Advanced Chemical Reactor
- [X] Condense Tower
- [X] Pyrolyzer
- [X] Simple documentation

[2016-04-12 22:49] #15 closed, assigned to 3TUSK

[2016-04-15 03:44] 3TUSK opened #18 "MineTweaker Compatibility"

[2016-04-15 03:48] 3TUSK opened #19 "Tiberium logic"
Anyone who wants know more about tiberium can visit [Wikipedia](https://en.wikipedia.org/wiki/Tiberium) first.

Planned feature:
- [X] Player can be converted into tiberium when killed by tiberium.
- [X] Potion Effect: Tiberium.
- [X] Corrosion. Convert everything into itself.
  - [X] Item.
  - [X] Block.
- [X] Explosion will cause catastrophic consequence
- [X] ~~Using special sound-wave tool wil

[2016-05-11 06:14] Glease commented on #19
Will players be turned into tiberium statue when they die of that PotionEffect?

[2016-05-11 11:57] 3TUSK commented on #19
At least there will be some [insert blue/green] crystal left at where they die

[2016-05-11 13:03] Glease commented on #19
Well, I was just wondering if you are going to make the world's first Steve Status. (correct me if I was wrong) Anyway, it is still a good idea.

Btw, when you will be free? My ChemLib is approaching its first release. I hope you could have a look at it later. (not now, I haven't yet pushed for a long time and I'm stuck with a werid bug) Integrating it into FC may not be an easy task.

--- Origina

[2016-05-11 14:07] 3TUSK commented on #19
I have a 2000+words essay which is due next Monday. Also an easy lab report due this Friday. Also next week is the review week for my Finals. Expect the week of Finals (id est - last week of May this year) - usually that week won't be painful.

[2016-05-11 15:55] Glease commented on #19
Well, I'll start being busy when your stuff is done, then.

--- Original Message ---

From: "Urey.X." notifications@github.com
Sent: May 11, 2016 10:08 PM
To: "FrogCraft-Rebirth/FrogCraft-Rebirth" FrogCraft-Rebirth@noreply.github.com
Cc: "Glease" glease.wang@outlook.com, "Comment" comment@noreply.github.com
Subject: Re: [FrogCraft-Rebirth/FrogCraft-Rebirth] Tiberium logic (#19)

I have a 2000+word

[2016-05-11 20:24] 3TUSK commented on #19
Beside, ChemLab integration will be in another branch, most likely a branch for 1.8. I have kinda of screwed up the integration in 1.7.10 ver.... and also 1.7.10 is fading...

[2016-05-12 00:32] Glease commented on #19
Well, I know how nasty those code looks like. You seemingly don't understand how Java APIs locate a implementation without referencing them directly. It's some reflection magic with j.u.ServiceLoader. Anyway, don't worry, you can just focus on the game logic and I'll handle them all. If you are interested how it's done, you could have a look on JAXP FactoryFinder (located in almost every sub-packa

[2016-05-12 00:58] 3TUSK commented on #19
Waiting for IC2exp 1.9.

Still a java newer... time to go back and read books.

[2016-07-21 07:49] 3TUSK commented on #18
Give up. 1.7.10 is unlikely being supported again.

[2016-07-21 07:49] #18 closed, assigned to 3TUSK

[2016-07-21 10:07] #16 closed, assigned to 3TUSK

[2016-07-22 14:26] #8 closed, assigned to 3TUSK

[2016-07-22 14:26] 3TUSK commented on #11
As the windmill is removed... this issue shall be closed.

[2016-07-22 14:26] #11 closed, assigned to 3TUSK

[2016-08-01 06:10] #13 closed, assigned to 3TUSK

[2016-08-04 06:21] #19 closed, assigned to 3TUSK

[2016-08-04 07:54] Glease commented on #19
man, what about fluid stuff? I mean, how to handle corrosion on fluid blocks? or does it happen at all?

[2016-08-04 08:41] 3TUSK commented on #19
It _does_ happen since it doesn't check what type of block it used to be.
So it just replace blocks at some random-what-the-hell-why-it-is-in-my-base position(s). No matter it is water or lava or diamond block or Matter Fabricator. (Theoretically)

[2016-08-08 19:57] 3TUSK opened #23 "Waila cannot recognize difference among Adv.Chem.Reactor, Air Pump, Pyrolyzer and Liquefier"
![2016-08-09_04 07 53](https://cloud.githubusercontent.com/assets/9113033/17494337/e63fcc68-5de6-11e6-8b21-9fcfc46b6925.png)
Pic: The One Probe vs. Waila

[2016-08-11 15:19] 3TUSK opened #24 "Many of machines are causing FPS drop"
~~Maybe it is unsolvable question, but it should be alleviated via some ways...~~
- [X] Networking. How about only sending/processing packets and refreshing renders when necessary?
  - Accepted change - as the only time when it need refresh is the time it switches working status (i.e. on->off and off->on, only one `IProperty` change)
- [X] Condense Tower
  - ~~Potential design change: use a toolki

[2016-08-19 17:30] 3TUSK opened #25 "One way IItemHandler and IFluidHandler"
See https://github.com/ForestryMC/ForestryMC/commit/27d932ee34f27c9ad06c0467f033ec09aa86afe3 for example implementation.
- [X] Adv. Chem. Reactor
  - [X] Inputs
  - [X] Outputs
  - [X] Cell input
  - [X] Cell output
- [X] Combustion Furnace
  - [X] Input
  - [X] Output
  - [X] Tank
- [X] Condense Tower
  - [X] Core
  - [X] Outlet
- [X] Pyrolyzer
  - [X] Input
  - [X] Output
  - [X] Tank

[2016-08-30 01:30] #25 closed, assigned to 3TUSK

[2016-09-11 22:41] 3TUSK opened #26 "[Discussion] The Future: Where FrogCraft:Rebirth will go?"
Despite the incoming [FrogCraft2](https://github.com/FrogCraft-Rebirth/LaboratoriumChemiae), there are several questions that have to be answered:
- Is FrogCraft: Rebirth a stand-alone ic2 addon, or an addon of other ic2 addon?
  - GregTech 5 Unofficial: now has [a ~~barely working~~ 1.10 branch](https://github.com/Blood-Asp/GT5-Unofficial/tree/1.10.2) now. ~~I have successfully compiled it withou

[2016-09-28 12:55] 3TUSK commented on #26
@liach ?

[2016-09-28 14:32] liach commented on #26
看着喜感啊

[2016-09-28 14:35] 3TUSK commented on #26
一点也不

[2016-09-28 16:01] 3TUSK commented on #26
@liach 有兴趣的话加某个群如何

[2016-09-28 16:33] liach commented on #26
Okay

[2016-09-28 16:35] 3TUSK commented on #26
在上课，一会给群号

[2016-09-28 16:36] liach commented on #26
呵呵我在课间用学校电脑，没有手机

[2016-09-28 16:43] 3TUSK commented on #26
V VI VI I IX I II IV III. Owned by @TartaricAcid

[2016-09-28 20:26] 3TUSK opened #27 "Change all CamelCase present in assets to snake_case"
Because 1.11 requires so.

[2016-09-28 20:56] liach commented on #26
![image](https://cloud.githubusercontent.com/assets/7806504/18931965/4e5a7cd0-8583-11e6-9926-ca80d257d0b1.png)
?

[2016-09-28 21:41] 3TUSK commented on #26
As the question asked. What have you contributed to community.

[2016-10-10 15:06] Ereebay commented on #26
群名亮了

[2016-10-10 16:44] 3TUSK commented on #26
楼上是？

[2016-10-16 23:03] #17 closed, assigned to 3TUSK

[2016-10-17 23:31] AngelCry opened #28 "Ores"
i decided to give this mod a try but soon after start i found i cant even mine any mod ore. they just not harvestable with anything - i tried pickaxe, shovel, just hands and got nothing, ores just do not drop anything. this is intended to be so?

[2016-10-17 23:37] 3TUSK commented on #28
I guess I forget to add a proper harvest tool for them.

However... school work is always annoying. I will try to release a new versions in next few days...

[2016-10-18 01:30] 3TUSK commented on #28
Just a reminder: you'll gonna need (at least) iron shovel for carnallite, iron pick for dewalquite and fluorapaitite.

[2016-10-24 15:49] 3TUSK commented on #26
[I will leave this post here.](https://www.reddit.com/r/feedthebeast/comments/592qhc/my_thoughts_on_the_minecraft_modding_scene_and/)

[2016-10-24 17:51] 3TUSK commented on #24
Yet another possible way to work around: use ic2's `ITeBlock` system.
Pros: everything will be ic2's fault.
Cons: cannot move to new Minecraft version so long as ic2 has no move

[2016-10-26 16:27] 3TUSK commented on #27
Mark

[2016-10-27 18:02] 3TUSK commented on #27
And some models broken right now. No idea about how to fix yet. will investigate ~~tonight~~ soon or later (tm)

[2016-10-28 05:54] AngelCry commented on #28
i see you already commit a fix for ores, but are you going to make new build with this (and other) fix any time sone?

[2016-10-28 12:03] 3TUSK commented on #28
Still fixing other issues. New version will be released soon (tm)

[2016-11-06 23:07] 3TUSK commented on #23
Yes it is somehow a bug - but due to the inactivity of Waila... I decided to not work around it. Also it looks like not on my side though.

[2016-11-06 23:07] #23 closed, assigned to nobody

[2016-11-30 15:33] 3TUSK commented on #27
This issue is blocking me from releasing new version of FC-R...

[2016-12-03 20:22] #27 closed, assigned to 3TUSK

[2016-12-03 20:28] 3TUSK commented on #24
Unless there is further problem, close this for now.

[2016-12-03 20:28] #24 closed, assigned to 3TUSK

[2016-12-03 20:34] #28 closed, assigned to nobody

[2016-12-03 21:15] 3TUSK commented on #28
https://github.com/FrogCraft-Rebirth/FrogCraft-Rebirth/releases/tag/0.11.0

[2016-12-03 21:35] liach commented on #26
Why are you only a collaborator @3TUSK

[2016-12-04 00:17] 3TUSK commented on #26
I do not own the repository

[2016-12-04 03:50] liach commented on #26
Then who does?

[2016-12-04 03:52] 3TUSK commented on #26
Organzation

[2016-12-04 03:53] liach commented on #26
:trollface: Greatest joke ever. You are the owner of the organization aren't you?

[2016-12-04 04:06] 3TUSK commented on #26
Then none own it.
*There is no one called "owner" or "author", there is only "active contributor"*

[2016-12-05 02:07] 3TUSK commented on #26
TechReborn is undergoing rewrite I guess?

[2016-12-05 02:39] liach commented on #26
Yes, since 1.10.2

[2016-12-05 02:43] 3TUSK commented on #26
So my memory is not *that* bad.

[2016-12-06 15:16] 3TUSK commented on #26
@liach Do you have any idea of implementing ic2 e-net? It is *doable* but none has tried that afaik

[2016-12-06 19:27] liach commented on #26
You mean you want to implement IC2 API? Or make another type of electric grid? If it is another type, then I would suggest you learn graph algorithms.

[2016-12-06 19:32] 3TUSK commented on #26
@liach I mean *Both*. Check out `ic2.api.energy.IEnergyNet`. It allows 3rd party to define electric grid on their own.

So yah. Both.

[2016-12-06 19:36] liach commented on #26
I really suggest you to learn some basic graph algorithm, because it really speeds up electric grids a lot. (No stack overflows for bad clients!) I will look into this when I am home.

[2016-12-06 21:21] 3TUSK commented on #26
Fair enough - -

[2016-12-07 03:22] 3TUSK commented on #26
My intent is that, since ic2's api is relatively more stable than ic2 itself, if someone could create a open-source/free implementation of ic2's EU grid, that would help for mod migration.

[2016-12-09 00:13] 3TUSK opened #29 "Sulfuric Acid & Oleum"
Per Blood-Asp/GT5-Unofficial#773, since there are have vanadium(V) oxide and sulfur trioxide already in FCR, it is possible to add oleum and sulfuric acid to form a complete tech tree.

Things to be done for this tech tree:
* [X] The first 1000mB of sulfuric acid how-to. ~~Dungeon? Villager trade?~~ SO3 dissolves in water. Will make it more tougher.
* [X] FCR currently has no way to get sulfur dio

[2017-01-09 16:05] 3TUSK opened #30 "Potential ConcurrentModificationException"
Affected classes:
* [BlockCondenseTower](https://github.com/FrogCraft-Rebirth/FrogCraft-Rebirth/blob/1.10/src/main/java/frogcraftrebirth/common/block/BlockCondenseTower.java#L66)
* [BlockGenerator](https://github.com/FrogCraft-Rebirth/FrogCraft-Rebirth/blob/1.10/src/main/java/frogcraftrebirth/common/block/BlockGenerator.java#L57)
* [BlockMachine](https://github.com/FrogCraft-Rebirth/FrogCraft-Rebi

[2017-01-11 00:05] #30 closed, assigned to nobody

[2017-02-24 14:47] 3TUSK opened #32 "Saponification & Glycerol"

[2017-02-24 14:59] #26 closed, assigned to nobody

[2017-04-23 23:54] 3TUSK commented on #32
Will be migrated soon.

[2017-04-23 23:54] 3TUSK commented on #29
Will be migrated soon.

[2017-07-02 08:29] 3TUSK opened #33 "Remove coremod usage"
Because there is `deobfCompile`.

[2017-08-14 02:49] 3TUSK commented on #33
Closed by https://github.com/FrogCraft-Rebirth/FrogCraft-Rebirth/commit/1a22d6e7dd879a81b323505a8a85d6ca65415ac0

[2017-08-14 02:49] #33 closed, assigned to 3TUSK

[2017-09-04 08:24] 3TUSK commented on #29
Uh, let's get this implemented on this side first...

[2017-09-06 14:26] #29 closed, assigned to nobody

[2017-09-07 02:28] 3TUSK commented on #32
Leave this open until either:
1. This is rejected
2. This is implemented

[2017-09-07 02:40] 3TUSK opened #34 "Titanium/Aluminium processing"
Apparently there is dewalquite ore containing aluminum oxide, titanium dioxide and vanadium pentoxide (which is not quite real, but whatever) here.

Vanadium pentoxide is used as catalyst of oxidizing sulfur dioxide to sulfur trioxide. Leaving aluminum oxide and titanium dioxide with no actual usage.

Details
* [X] IC2 blast furnace cannot handle fluid input other than air. A new blast furnace mus

[2017-10-03 14:23] zsn741656478 opened #35 "能否支持1.11.2？"
我很喜欢这个MOD。结果只有1.10和1.12，越过了1.11.2 T T
希望能兼容1.11.2版本！谢谢

[2017-10-06 00:18] 3TUSK commented on #35
请给一个不升级 1.12 的理由...

另，1.10.2 版本的本 Mod 根本不能玩（雾）。

[2017-10-16 22:08] #35 closed, assigned to nobody

[2017-10-18 20:24] 3TUSK opened #36 "Nuke all meme contents"
Including:
* All reference to *A Certain Scientific Railgun* beside the name of mod
    * Awaiting AcademyCraft update to 1.12.2. This should be confirmed.
* All reference to *Command & Conquer* (tm)
    * All contents will become a separate mod
* All possible other meme contents

[2017-10-18 21:51] 3TUSK commented on #32
Side note:
* 2KCl + 2H2O -> 2KOH + H2(g) + Cl2(g)
* KOH + fat -> glycerol + ~~potassium salt~~?

[2017-10-22 08:50] 3TUSK commented on #36
The only exception is probably... *Gold Clod*?

[2017-10-28 07:14] #36 closed, assigned to nobody

[2017-10-28 07:20] 3TUSK commented on #34
Closed by https://github.com/FrogCraft-Rebirth/FrogCraft-Rebirth/commit/4f74c72e35b4f394268df15bfd09f8288917a140

[2017-10-28 07:20] #34 closed, assigned to nobody

[2017-11-16 17:51] modmuss50 opened #38 "Crash"
Hi, someone had this crash on the BTM server,

https://pastebin.com/embed_iframe/akkbDNqY

Hopefully you can take a look at it, thanks.

[2017-11-17 03:59] 3TUSK commented on #38
Kek, I pushed the fix before I notice this issue - https://github.com/FrogCraft-Rebirth/FrogCraft-Rebirth/commit/2297739763fb5013d704c81d6e4d9fa30999be20

[2017-11-17 04:17] 3TUSK commented on #38
https://github.com/FrogCraft-Rebirth/FrogCraft-Rebirth/releases/tag/2.0.4

I have many classes today - sorry for replying late. I believe this build fixes the issue... if there is still a scheduled server update please include this.

[2017-11-17 22:09] 3TUSK commented on #38
BTM Moon has started; we can assume that this issue has been fixed. :)

[2017-11-17 22:09] #38 closed, assigned to 3TUSK

[2017-11-20 04:09] Vyraal1 opened #39 "CraftTweaker Support for 1.12?"
Do you plan on adding CraftTweaker support for FCR? So players can add custom recipes for the various chemical processing machines you have in the mod?

[2017-11-20 07:44] 3TUSK commented on #39
It is in the roadmap right now - however, i am personally not sure on making it a standalone mod or just be a part of the mod itself... probably the latter.

[2017-11-20 15:37] Pilad commented on #39
Please))

[2017-11-25 14:48] MadRatSRP opened #40 "1.12 crash due to fluid block conflicts"
java.lang.NullPointerException: Initializing game
	at net.minecraftforge.client.model.ModelLoader.setCustomStateMapper(ModelLoader.java:1063)
	at frogcraftrebirth.client.RegHelper.regFluidBlockTexture(RegHelper.java:60)
	at frogcraftrebirth.client.FrogTextures.regModel(FrogTextures.java:122)
	at net.minecraftforge.fml.common.eventhandler.ASMEventHandler_70_FrogTextures_regModel_ModelRegistryEvent.

[2017-11-25 14:49] MadRatSRP commented on #40
![spis](https://user-images.githubusercontent.com/29717217/33231602-efa3871c-d208-11e7-8bfe-aa819bdcd7d3.png)

[2017-11-25 22:41] 3TUSK commented on #40
Cannot reproduce. Please try re-download the mod, and try to eliminate to minimum mods combination that can trigger this.

Also, full crash-report please.

[2017-11-29 09:13] MasterBuilder747 commented on #40
I am having this issue too, with a much larger modlist, but with the same issue with the texture being bugged with null pointer exception. Also this occurs right at the start of phase 3 of loadup
crashlog: [here](https://github.com/FrogCraft-Rebirth/FrogCraft-Rebirth/files/1513138/crash-2017-11-29_01.08.29-client.txt)
full log: [here](https://github.com/FrogCraft-Rebirth/FrogCraft-Rebirth/files/15

[2017-11-29 19:12] 3TUSK commented on #40
Try removing NuclearCraft.

[2017-12-13 02:42] xbony2 commented on #40
Ah yes, I have the same issue.

[2017-12-15 22:06] retep998 commented on #40
Getting this crash with NuclearCraft. Removing NuclearCraft resolves the issue.

https://gist.github.com/retep998/2b03f7b4899b512491e1f4161960eec1

[2017-12-18 15:18] xbony2 commented on #40
Seems to be an issue with other mods too I guess. Not to be impatient, but please release a new version on CF soon :c sorta waiting on it

[2017-12-19 22:57] #40 closed, assigned to nobody

[2017-12-19 23:08] 3TUSK commented on #40
https://github.com/FrogCraft-Rebirth/FrogCraft-Rebirth/releases/tag/2.1.0

[2017-12-30 11:43] TechnicianFreak opened #41 "材料未加入矿物词典？"
因为发现与其他mod的铝并不通用，就看了看物品信息发现没矿典那一行。

[2017-12-30 16:41] 3TUSK commented on #41
已知问题，几天前在自己的包里发现铝不能被匠魂识别，目前已经在本地修复。

To anyone who wonder what it is:
Aluminium Ingot/Dust/Plate are not registered with OreDict like "ore/dust/plateAluminum" in this mod, making some mods (for example Tinkers Construct) unable to recognize.
At this moment there has been a config option to enable "Aluminum" series ore dictionary entires. Update incoming.

[2017-12-30 16:56] liach commented on #41
应该可以用crafttweaker解决吧

[2017-12-31 03:34] #39 closed, assigned to nobody

[2017-12-31 03:34] #41 closed, assigned to nobody

[2017-12-31 03:53] 3TUSK commented on #39
@Vyraal1 @Pilad New release with CraftTweaker support will be available at:
https://minecraft.curseforge.com/projects/frogcraft-rebirth/files/2515272

[2017-12-31 03:54] 3TUSK commented on #41
https://minecraft.curseforge.com/projects/frogcraft-rebirth/files/2515272

[2017-12-31 05:19] Xaikii opened #42 "Can't start due to missing Classes"
java.lang.NoClassDefFoundError: frogcraftrebirth/common/item/ItemAmmoniaCoolant
	at frogcraftrebirth.common.FrogRegistries.regItem(FrogRegistries.java:130)
	at net.minecraftforge.fml.common.eventhandler.ASMEventHandler_272_FrogRegistries_regItem_Register.invoke(.dynamic)
	at net.minecraftforge.fml.common.eventhandler.ASMEventHandler.invoke(ASMEventHandler.java:90)
	at net.minecraftforge.fml.common

[2017-12-31 05:27] 3TUSK commented on #42
Try updating or removing BNBGamingCore (I think it calls so) and any mods that rely on it. It looks like that it is doing something strange...

I am pretty sure the issue does not fall on my side.

[2017-12-31 05:28] adrwa commented on #42
this issue is caused by IC2 not being installed yet the item instances an IC2 interface, you either need to supply the API with the mod, or use @Optional

[2017-12-31 05:39] Xaikii commented on #42
Yea, adding IC2 fixes this, still wierd since it is listed as dependency but Twitch didn't downloaded IC2 aswell although it is listed as dependency

[2017-12-31 05:58] 3TUSK commented on #42
@TheCodedOne You probably don't notice that FrogCraft: Rebirth is an IC2 add-on and has hard dependency on it...

Edit: see below.

[2017-12-31 06:09] 3TUSK commented on #42
Actually... the declaration of hard-dependency fails to work due to unknown reason.
I still remember that the following declaration worked at a certain moment but can't remember when:
https://github.com/FrogCraft-Rebirth/FrogCraft-Rebirth/blob/cae2b4ef711045a6fc4bb2e28a4121ea07919a7c/src/main/resources/mcmod.info#L15

Now it's a real bug...

Edit:
[code]

[2017-12-31 06:17] liach commented on #42
@3TUSK You should define the dependency in `@Mod` annotation.
https://github.com/FrogCraft-Rebirth/FrogCraft-Rebirth/blob/1.12/src/main/java/frogcraftrebirth/FrogCraftRebirth.java#L43

[2017-12-31 06:30] #42 closed, assigned to nobody

[2017-12-31 06:35] 3TUSK commented on #42
New release will be available at:
https://minecraft.curseforge.com/projects/frogcraft-rebirth/files/2515300

As for Twitch fails to download ic2: that issue is still out of range. I do have marked each release with IC2 as "Required Library".

[2017-12-31 09:09] Trixz2018 opened #43 "Crash on startup"
minecraft 1.12.2
FrogCraft-Rebirth-2.2.1
industrialcraft-2-2.8.35-ex112
Forge: 14.23.1.2582

Crash Report: https://pastebin.com/37Ft2PHC

I must say i was able to launch with this jar the first time i installed it. While in my SP test world it froze when after placing/breaking certain blocks from your mod. So i killed it and tried to relaunch it and got this crash report.

[2017-12-31 17:00] 3TUSK commented on #43
It looks like TechReborn compatibility is enabled somehow... and one of the fluid that it uses hasn't implemented yet.

Try find the option to turn TechReborn compatibility off in the config file.

[2017-12-31 22:45] Trixz2018 commented on #43
Ok so after changing the config for techreborn compatibility to off i went into a test world to test your mod and after breaking and replacing machines for your mod, my SP world froze and had to kill it.
 Stall Report:  https://pastebin.com/Ldw4AhAa

On relaunch: loaded fine. Went into test world and instant freeze.

Before second relaunch i removed your mod. Loaded fine, went into test world, i w

[2018-01-01 00:53] 3TUSK commented on #43
Interesting. I haven't ran into such issue before, but that TATW is the only thing I don't have in my development environment. I know what TATW does, but I have zero knowledge on what it does exactly (in terms of code)...

I will investigate this game-freezing issue later.

[2018-01-01 12:25] Trixz2018 commented on #43
So since i have no life, i tested a separate pack with only this mod and ic2 and everything worked.
I removed tatw from main pack and tested it again, everything worked fine, but ic2 cables were taking a bit to render that they were connected. But that has nothing to do with your mod. It seems that TATW is just buggy with its code, also i have too many mods. I removed it and won't be adding it bac

[2018-01-03 03:58] loudwhitenoise opened #44 "Hang on world load: something including worldgen cascades and rock salt ore."
Full length log: https://pastebin.com/xLp5hS9t

Highlights:
quite a few yellow/warn lines `[Server thread/WARN] [FML]: FrogCraft: Rebirth loaded a new chunk (28, -35  Dimension: 0) during chunk population, causing cascading worldgen lag. Please report this to the mod's issue tracker. This log can be disabled in the Forge config.`
then very many red/error lines similar to `at frogcraftrebirth.commo

[2018-01-03 04:14] loudwhitenoise commented on #44
It was from a diferent mod, Vanilla food pantry. Oops, sorry to bother you.

[2018-01-03 04:14] #44 closed, assigned to nobody

[2018-01-08 01:49] 3TUSK opened #45 "Remove unnecessary fluid block"
A more comprehensive solution of #40

[2018-01-09 03:44] #43 closed, assigned to nobody

[2018-01-09 03:47] 3TUSK commented on #43
@Trixz2018 A fixed version will be released soon; reopen this issue if the fix doesn't work.

Appendix: the 2.2.2 version can be found here:
https://github.com/FrogCraft-Rebirth/FrogCraft-Rebirth/releases/tag/2.2.2
It will not be on CurseForge; instead, 2.2.3 will (probably) be.

[2018-01-09 07:30] Trixz2018 commented on #43
i'll test it out, i removed Tatw since then so i prolly wont get the same results but ill report back of issues i have.

[2018-01-11 18:46] 3TUSK opened #46 "Multiblock Adv. Blast Furnace"
* Length 1 block, width 1 block, height 2 - 3 blocks;
* Modular (but what extra functionalities will we have?)
  * Shield gas
  * Item outlet
* Can accept heat from any side?

[2018-01-26 05:05] Vyraal1 opened #47 "[1.12.2][Suggestion] Fluid Handling for Chemical Reactor"
Would it be possible to have non-cell based Fluid Handling for the Chemical Reactor? So it would just have a tank a player could directly right-click into with buckets/cells?

Would it also be possible to give it an output tank? I want to have a rubber vulcanization process where you take sticky resin + sulfur to make molten rubber, but haven't really been able to find a mod that handles these typ

[2018-01-26 05:12] 3TUSK commented on #47
That would require a *huge* rewrite...

GregTech fulfill this requirement, but you know, it's GregTech...

[2018-02-10 22:54] dancc7t opened #48 "[1.12.2] oregen config option"
[EDIT] I am sorry i did not see the EnableOres option in the config. It was all my fault.

Hello, i am making a new modpack for 1.12.2 in which certain ores spawn only in certain biomes but in larger veins,  in order to do this i need the config option to disable the oregen provided by the mod, because cofhworld doesnt override the oregen of each mod.
FrogCraft is a great mod i want to include in

[2018-02-10 22:57] #48 closed, assigned to nobody

[2018-02-10 23:42] 3TUSK commented on #48
There are many other config options designed for modpack creators, by the way - some of those options might not work (e.g. disable individual machines); they will be functional soon<sup>TM</sup>.

[2018-03-06 19:17] 3TUSK commented on #47
I will see what I can do on this.

[2018-03-14 12:33] LasmGratel opened #49 "Any idea to integrate with FoodCraft Reloaded?"
https://github.com/LasmGratel/FoodCraft-Reloaded

[2018-03-23 00:49] 3TUSK opened #50 "Restore liquefied air"
IC2's air is, in fact, gaseous, which means that we do need its liquefied counterpart.

[2018-04-02 01:58] #32 closed, assigned to nobody

[2018-04-02 01:58] #45 closed, assigned to nobody

[2018-04-02 01:58] #50 closed, assigned to 3TUSK

[2018-04-09 12:21] LasmGratel opened #51 "Any preview snapshots for this mod?"
Brief view+_+

[2018-04-09 18:30] 3TUSK commented on #51
https://github.com/3TUSK/FrogCraft-Rebirth/releases/tag/3.0.0%2B78022f4

[2018-04-09 18:30] #51 closed, assigned to nobody

[2018-08-13 16:24] 3TUSK commented on #49
No response... guess we can close it... at least, for now...

[2018-08-13 16:24] #49 closed, assigned to nobody

[2018-08-14 07:21] 3TUSK commented on #47
@Vyraal1 Apologize for pinging. While I am getting close to this feature, I am facing the issue that supporting Ore Dictionary will drastically increase the complexity of code and thus potentially affect performance if there are several very complex recipes. Do you think that it's necessary to support OreDict in chemical reactor?

[2019-04-03 01:08] ChiefLogan3010 opened #53 "Freezing with latest version of TATW"
I'm not too sure if this mod is still being worked on, but I'm getting a complete freeze of the game whenever placing a frogcraft machine with TATW installed.

[2019-04-03 01:56] 3TUSK commented on #53
In #43 there was an freezing issue that looks very similar to your description - did you use the latest release of FrogCraft: Rebirth available?

[2019-04-03 12:13] ChiefLogan3010 commented on #53
I'm using frogcraft 2.2.1, IC2 2.8.109 and I've tried with TATW on their latest release (1.01.2) and their latest beta (1.01.2.b27) with both having the same issue.

I've set up an instance with only IC2, Frogcraft, JEI, TATW and it's dependency AromaCore and my latest log looks like this:
https://gist.github.com/ChiefLogan3010/134c39ac0edd96dc05ea84d7b2ff6f9d
The last section of the log loops for

[2019-04-03 16:37] 3TUSK commented on #53
It is still being maintained - but the planned 3.0.0 version changed internal *a lot* and really took me a very long period of time.

I will investigate the freezing issue and make a hot fix if once confirmed.

[2019-04-03 21:50] 3TUSK commented on #53
Just a heads up, the issue was actually fixed since FrogCraft: Rebirth 2.2.2 but that version was never published on CurseForge. My apology. I will put the 2.2.3 onto CurseForge ASAP; before CurseForge approve the release you can get it from at: https://github.com/3TUSK/FrogCraft-Rebirth/releases (use the `frogcraftrebirth-2.2.3.jar`)

Side note: do not use that 3.0.0 version; it has not been test

[2019-04-03 21:52] 3TUSK commented on #53
This is technically a duplicate of #43 but until the fixed version is on CurseForge, this will remain open.

[2019-04-03 22:52] ChiefLogan3010 commented on #53
Thanks! Look forward to integrating this mod into my pack!

[2019-04-03 23:27] 3TUSK commented on #53
https://minecraft.curseforge.com/projects/frogcraft-rebirth/files/2695262
And the review process was somehow really fast. FrogCraft: Rebirth 2.2.3 is now on CurseForge. Were there any new issue, open another issue ticket instead.

[2019-04-03 23:27] #53 closed, assigned to nobody

[2019-05-22 02:59] DbpGaming opened #54 "Crash with ic2classic"
https://pastebin.com/Tcmp8krk - crash report
don't know if you plan to support ic2classic but just in case

[2019-05-22 03:07] 3TUSK commented on #54
IC2Classic support is not on my TODO list sadly.
However - nevertheless I doubt if this is indeed an issue on my side.

[2019-05-22 03:10] 3TUSK commented on #54
One thing you may not know is that IC2 Experimental has a built-in "profile selection" functionality now. It allows you to switch back to the "classic profile" which (last time I checked) is basically bringing back the original IC2-lf contents.
In IC2Exp's `IC2.ini`, find:
[code]
Change `Experimental` to `Classic`, save config, reboot game and see the profit.

[2019-05-22 03:20] DbpGaming commented on #54
yeah i know about classic mode, it just that doesnt work with ic2classic addons, i actually prefer exp but because of gregtech classic and some other things use classic, from the little i looked it seems like it cant get water cells, but i never seen a crash report line reference be right so i dont know if thats correct

[2019-05-22 03:33] DbpGaming commented on #54
i have a feeling its due to ic2c not having fluid cells be fluid containers but be items

[2019-05-22 05:27] 3TUSK commented on #54
Honestly speaking, that's exactly my speculation.

[2021-01-03 07:04] gatoborrachon opened #56 "[issue] [Dev environment] texture issues with crushed FrogCraft ores"
while I was editing the mod to fix these issues with coolant cells I found the issues I say in the title, idk if they are know issue but if you continue with the mod, well, they could be a starting point

[2021-01-03 21:00] gatoborrachon opened #57 "[Issue] fluid pipes can't connect to Advanced Blast Furnace"
![2021-01-03_14 53 22](https://user-images.githubusercontent.com/61126174/103488684-74a04c80-4dd4-11eb-8b73-9251c68fb208.png)

FrogCraft-Rebirth-2.2.3

also, how is it supposed that H+Ti02=Ti+Ar? or it consumes the Argon too? (i looked for this formula but there's nothing)

[2021-01-06 07:43] 3TUSK commented on #57
Interesting, I forget to expose a fluid capability?

The recipe is suppose to be 2H2+TiO2 = Ti + 2H2O with at least 1000mB argon (not consumed). Not sure if it is still working; it has been a long while.

[2021-01-07 02:44] gatoborrachon commented on #57
oh ok, maybe the argon could be added in the lower part of the GUI just above the inventory, to avoid be confused with an output liquid.

(mmm, even maybe there could be an option to consume the argon, it has so little uses even with Rockhounding mod: Chemistry)

[2021-01-09 17:48] gatoborrachon commented on #56
i forgot to upload the evidence:

Before macerating
![2021-01-09_11 45 39](https://user-images.githubusercontent.com/61126174/104104911-6a68cd00-5270-11eb-8a54-08cf87e9bdd8.png)

after macerating
![2021-01-09_11 45 42](https://user-images.githubusercontent.com/61126174/104104908-6472ec00-5270-11eb-854f-2313ff10b57e.png)
(the fix would be delete the metadata on these lines
![macerator](https://user

[2021-01-09 21:23] 3TUSK commented on #56
*tfw I forget to remove metadata after preemptive flattening*

[2021-03-05 19:24] gatoborrachon commented on #56
mmm, that crash with the Chemical Reactor may be something exclusive from my side? or you have no idea why it happens? (there's no hurry, i just had the curiosity)

[2021-03-30 23:42] gatoborrachon commented on #56
because, well, even if i found [this post](https://www.minecraftforum.net/forums/mapping-and-modding-java-edition/minecraft-mods/modification-development/2851761-solved-crash-when-opengui-is-called), frankly I have no idea how to fix this on my own,

[2021-03-31 00:35] gatoborrachon commented on #46
(sorry for necro a old issue)

if i recall correctly, i told you there was a new IC2 Addon called [GregTech Experimental](https://github.com/Su5eD/GregTech-Experimental/), basically, GregTech 3 for 1.12

well, with that said, maybe we can focus some recipes lines focused on it (in case that there are no new ideas)

[2021-03-31 01:28] 3TUSK commented on #56
Double check: simply right-click the block will trigger the crash? Or the GUI?

[2021-03-31 04:16] gatoborrachon commented on #56
mmm, i really don't know how to check that in a proper way

i used the wrench to rotate it and it worked, so i guess it's when you open the GUI

[2021-04-02 06:57] 3TUSK commented on #46
I think I have already given up this idea; however it is not closed for some reason I don't remember. I most likely opened this as a memo and it has been three years now. Many things happened since then; mainly, there was once only TechReborn at that time.

[2021-04-03 17:28] gatoborrachon commented on #46
well, that's true

[2021-04-15 22:48] gatoborrachon opened #58 "[Minor issue] Missing name on Fluid Chlorine (it shows its Unlocalized Name)"
Well, i just want to leave a registry of missing minor things about the mod
![2021-04-15_17 42 51](https://user-images.githubusercontent.com/61126174/114947383-ab91ef80-9e12-11eb-9b39-f211be8a7472.png)

but also i want to use this issue to ask  2 things:
1.- How Chlorine was supposed to be crafted?

2.- Which uses it would had?

[2021-04-16 00:36] 3TUSK commented on #58
Interesting. It looks like either I forget to remove the item for the fluid block, or JEI displays fluid for convenience.

1. Carnallite contains potassium chloride (KCl). So you would go through macerator -> thermal centrifuge -> electrolyzer.
2. Back in GregTech 2-4, it is primarily used as bleach (i.e. wash out color from wool, etc). IIRC, my initial thought is hydrochloric acid. In GT5+, polyv

[2021-04-16 02:17] gatoborrachon commented on #58
well, i guess that you just forgot to add its Lang entry, the other fluids are called the same (fluid.FLUIDNAME).
Example:
https://github.com/3TUSK/FrogCraft-Rebirth/blob/f0242e5a3e175e501a11e14fd2665d23f07fb302/src/main/resources/assets/frogcraftrebirth/lang/en_us.lang#L158

mmm, i can only think on how will you manage to add an Item input to the Electrolizer, ~~also, Potassium doesn't has a gas

[2021-05-31 18:43] gatoborrachon commented on #56
i saw that the crash report is similar to the one in this issue:
https://forums.minecraftforge.net/topic/66344-custom-furnace-not-smelting/?do=findComment&comment=318011

i will try what this comment says;
https://forums.minecraftforge.net/topic/66344-custom-furnace-not-smelting/?do=findComment&comment=318017

[2021-06-29 16:05] gatoborrachon opened #59 "[Bug] Wrong quantity of Coal Dust in any non-IC2 Crafting Table recipe that requires Coal Dust"
**What is happening**
When you use FrogCraft and any other mod that has a Crafting Recipe that requires Coal Dust, you will see in JEI how they will require 3 units of Coal Dust, when in practice they only require 1

**Screenshots**
1.- 3 IC2 recipes that are fine, and at the bottom there's a recipe that seems to require 3 Coal Dust (recipe from GregTech Experimental)
![2021-06-29_10 52 55](https:

[2021-07-23 21:03] gatoborrachon opened #60 "[Issue] Missing Recipes in JEI when using liquids from other mods"
**What is happening**
When you add FrogCraft and any other mod that register the same fluids that FrogCraft uses in a recipe, that recipe will not appear in JEI but it will still work

**Steps to reproduce**
1 - In this example, [Rockhounding mod: Chemistry](https://www.curseforge.com/minecraft/mc-mods/rockhounding-mod-chemistry) adds Carbon Dioxide, which is used in the recipe to get Calcite Dust

[2021-07-23 21:06] gatoborrachon opened #61 "[Issue] Errors in the logs"
**What is happening**
While looking at the Logs to find errors in some configs i edited in other mods, i found some related to FrogCraft Rebirth's Blast Furnace:
https://pastebin.com/b17sBwWm

[2021-09-03 05:34] gatoborrachon opened #63 "[issue] [Dev environment] Crash when right-click the Chemical Reactor"
**What is happening**
When i try to enter to the GUI of the Chemical Reactor, i get [a crash](https://pastebin.com/iyk8VD91)

**Steps**
1.- Enter to a world
2.- Right-Click the Chemical Reactor
3.- Crash

**Versions**
Latest from Github (i re-downlaoded all today)

**Additional Notes**
+This issues was splited from https://github.com/3TUSK/FrogCraft-Rebirth/issues/56 to have a cleaner Issues secti

[2021-09-03 18:18] gatoborrachon commented on #63
Continuing our conversation in the issue number 56, the modder called Enginecrafter77 did me a favor to help me to fix the crash when you try to open the GUI, so all credit to him.

1.- First, change these [2 lines of code](https://github.com/3TUSK/FrogCraft-Rebirth/blob/f0242e5a3e175e501a11e14fd2665d23f07fb302/src/main/java/frogcraftrebirth/common/lib/MultiTypeStorage.java#L375)
from this:
[code]